@using BnsShopWeb.HtmlHelpers

@model ProductsListVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<head>
  <link rel="stylesheet" href="~/css/ProductsList.css"/>
</head>


<div class="album py-5 bg-light-blue">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var x in Model.Products)
        {
          @Html.Partial("ProductSummary", x);
        }
      </div>
    </div>
  </div>

<div class="hr">
  @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>